@model LoginVM;

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Css Login -->
    <link rel="stylesheet" href="~/css/Login.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>

    <img src="~/logos/LogoV3.png" class="brand-logo" />

    <div class="top-back-link">
        <a href="/" class="back-link">
            ← Regresar Al Catálogo
        </a>
    </div>
    
    <div class="background-text">
        E-COMMERCE
    </div>

    <div class="login-container">

        <h2>Ingresá o regístrate</h2>

        <form action="/Account/Login" method="post">

            <label>E-mail</label>
            <input asp-for="Email" type="email" class="transparent-input" autocomplete="off" />

            <!-- LABEL con ojito al lado -->
            <label class="password-label">
                Contraseña
                <i class="fa-regular fa-eye toggle-password"
                   onclick="togglePassword(this)"></i>
            </label>

            <input asp-for="Password"
                   type="password"
                   class="transparent-input"
                   id="passwordInput"
                   autocomplete="off" />

            <button type="submit" class="btn-login">Iniciar Sesión</button>
            <a href="/Account/Register" class="btn-register">Crear Cuenta</a>

            <!--Regresar Al Catálogo-->
            <div style="text-align: left; margin-bottom: 10px;">
                <a href="/" style="font-size:0.75rem; color:#053345; text-decoration:none;">
                    ¿Olvidaste Tus Datos De Acceso?
                </a>
            </div>

        </form>
    </div>

    <script>
        function togglePassword(icon) {
            const input = document.getElementById("passwordInput");

            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>


    @if (ViewBag.message != null)
    {
        <script>
            Swal.fire({
                icon: '@ViewBag.Class',
                text: '@ViewBag.message',
                scrollbarPadding: false,
                heightAuto: false
            });
        </script>
    }


</body>
</html>

