@model UserVM;

@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Css Register -->
    <link rel="stylesheet" href="~/css/Login.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

    <img src="~/logos/LogoV2.png" class="brand-logo" />

    <div class="top-back-link">
        <a href="/" class="back-link">
            ← Regresar Al Catálogo
        </a>
    </div>

    <div class="background-text">
        E-COMMERCE
    </div>

    <div class="login-container">
        <h2>REGÍSTRATE</h2>

        <form id="registerForm" action="/Account/Register" method="post">

            <label>Usuario</label>
            <input asp-for="FullName" type="text" class="transparent-input" id="FullName" autocomplete="off" />

            <label>E-mail</label>
            <input asp-for="Email" type="email" class="transparent-input" id="Email" autocomplete="off" />

            <!-- PASSWORD -->
            <label class="password-label">
                Credencial
                <i class="fa-regular fa-eye toggle-password"
                   onclick="togglePassword(this, 'passwordInput')"></i>
            </label>
            <input asp-for="Password" type="password" id="passwordInput" class="transparent-input" autocomplete="off" />

            <!-- REPEAT PASSWORD -->
            <label class="password-label">
                Confirmar Credencial
                <i class="fa-regular fa-eye toggle-password"
                   onclick="togglePassword(this, 'repeatPasswordInput')"></i>
            </label>
            <input asp-for="RepeatPassword" type="password" id="repeatPasswordInput" class="transparent-input" autocomplete="off" />

            <input type="hidden" name="Type" value="Client" />

            <button class="btn-login" type="submit">CREAR CUENTA</button>
            <!--
            <a href="/Account/Login" class="btn-register">Back</a>
             -->

        </form>
    </div>

    <script>
        function togglePassword(icon, inputId) {
            const input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }

        // VALIDACIÓN DE CAMPOS VACÍOS
        document.getElementById('registerForm').addEventListener('submit', function(e) {
            const fullName = document.getElementById('FullName').value.trim();
            const email = document.getElementById('Email').value.trim();
            const password = document.getElementById('passwordInput').value.trim();
            const repeatPassword = document.getElementById('repeatPasswordInput').value.trim();

                    if (!fullName || !email || !password || !repeatPassword) 
                    {
                        e.preventDefault();
                        Swal.fire({
                        icon: 'warning',
                        text: 'Todos Los Campos Son Obligatorios',
                        heightAuto: false,
                        scrollbarPadding: false
                        }).then(() => {
                        document.getElementById("registerForm").reset();
                        });
                    }
        });
    </script>

    @* ALERTAS DESDE EL CONTROLADOR *@
    @if (ViewBag.message != null)
    {
        <script>
            Swal.fire({
                icon: '@ViewBag.Class',
                text: '@ViewBag.message',
                scrollbarPadding: false,
                heightAuto: false
            }).then((result) => {
                if (result.isConfirmed && '@ViewBag.Class' === 'success') {
                    window.location.href = '/Account/Login';
                }
            });
        </script>
    }



</body>
</html>

